.jumbotron {
  text-align: center;
}

body div {
  padding: 10px 10px;
}

.pythonFinal, .javaFinal, .javaScriptFinal, .results, .explanation, .the-quiz {
  display: none;
}

div .card, .jumbotron {
  margin: 10px;
  border-radius: 5%;
  background-image: linear-gradient(rgb(202, 58, 22), rgb(255, 153, 0))

}

body {
  background-image: url(../images/fall.jpg);
  font-weight: 500;
}

body .container {
  background-color: #f33615cb;
}

footer p {
  margin-top: 10px;
  margin-bottom: 1px;
}

.the-quiz .form-group {
  margin-left: 50px;
}

.greeting .form-group {
  margin-right: 150px;
  margin-left: 80px;
}

.greeting button {
  margin-left: 100px;
}